.banner {
    overflow: hidden;
    position: relative;
    
    img {
        max-width: 100%;
    }

    @include media-breakpoint-up(md) {
        max-height: 450px;
        min-height: 350px;

        img {
            position: absolute;
            top: 50%;
            width: 100%;
            max-width: none;
            transform: translateY(-50%)
        }
    }
}