.card {
    &.variant-1 {
        border: none;
        position: relative;
        margin-bottom: 2rem;

        .img-wrapper {
            position: relative;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
                background-color: transparent;
                visibility: hidden;
                z-index: 1;
                transition: 0.1s ease;
            }
            
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
            }
        }

        .card-cta {
            position: absolute;
            bottom: 0;
            right: 10%;
            transform: translateY(50%);
            transition: 0.2s ease;
            z-index: 2;
        }

        &.horizontal .img-wrapper {
            padding-top: 38.57%
        }

        &.vertical {
            .img-wrapper {
                padding-top: 120.85%;
            }

            .card-cta {
                right: 50%;
                transform: translateY(50%) translateX(50%);
            }
        }

        &:hover {
            .img-wrapper {
                &::before {
                    visibility: visible;
                    background-color: transparentize($color: #fff, $amount: .9);
                }
            }

            .card-cta {
                transform: translateY(43%)
            }

            &.vertical {
                .card-cta {
                    transform: translateY(43%) translateX(50%)
                }
            }
        }
    }

    &.variant-2 {
        border: none;

        .img-wrapper {
            position: relative;
            padding-bottom: 58.57%;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
            }
        }

        .card-cta {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 18px;
        }
    }

    &.variant-3 {
        border: none;
        height: 100%;

        .card-thumbnail {
            width: 100%;
            height: 280px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 0.3s ease;
            }
        }

        .card-cta {
            background-color: $p1;
            padding: 1.25rem 2rem 2.5rem 2rem;
            position: relative;
            transition: 0.3s ease;
            flex-grow: 1;

            .cta-title {
                color: #fff;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 100%;
            }

            .icon {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
            }
        }

        &:hover {
            .card-thumbnail img {
                transform: scale(1.05);
            }

            .card-cta {
                background-color: darken($color: $p1, $amount: 5);
            }
        }
    }

    &.variant-4 {
        border: none;
        display: flex;
        flex-direction: row;

        .card-thumbnail {
            flex-basis: 40%;
            margin-bottom: 1rem;
            overflow: hidden;
            margin-right: 1rem;
            position: relative;

            img {
                transition: 0.3s ease;
            }
        }

        .card-content {
            .icon {
                color: $gray-300;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(calc(-50% - 1rem));
            }
        }

        .date {
            color: #1A1919;
            margin-bottom: 1rem;
        }

        .card-title {
            text-transform: uppercase;
            font-weight: 600;
            color: $p1;
            transition: 0.3s ease;
            width: calc(100% - 30px);
        }

        .desktop-cta {
            display: none;
        }

        @include media-breakpoint-up (md) {
            flex-direction: column;

            .card-content .icon {
                display: none;
            }

            .card-thumbnail {
                margin-right: 0;
            }

            .card-title {
                font-size: 1.125rem;
                width: auto;
            }

            .desktop-cta {
                display: block;
                width: calc(100% - 2rem);
                position: absolute;
                bottom: 1rem;
                left: 50%;
                transform: translateY(calc(50%)) translateX(-50%);
                opacity: 0;
                transition: 0.4s ease;
                will-change: transform, opacity;
            }

            &:hover {
                .card-thumbnail img {
                    transform: scale(1.05);
                }

                .card-title {
                    color: darken($color: $p1, $amount: 5)
                }

                .desktop-cta {
                    background-color: #005a9a;
                    border-color: #005a9a;
                    transform: translateY(0) translateX(-50%);
                    opacity: 1;
                }
            }
        }
    }
}