@import "node_modules/swiper/swiper.scss";

.carousel.variant-hero {
    .slide-layout {
        height: calc(100vh - 200px); // minus top pane, minue half a button, then minus the pagination
        min-height: 500px;

        .slide-background {
            position: relative;
            height: 100%;
            width: 100%;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .content {
            position: absolute;
            z-index: 1;
            bottom: -30px;
            width: 100%;
            color: #fff;

            p {
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            }

            @include media-breakpoint-up(lg) {
                width: 60%;
            }
        }
    }

    .swiper-pagination {
        font-size: 18px;
        font-weight: 800;
    }

    .swiper-button-next {
        svg {
            transform: rotate(180deg)
        }
    }

    .carousel-controls {
        display: flex;
        justify-content: flex-end;
        padding: 50px;

        .swiper-button-next,
        .swiper-button-prev {
            height: 20px;
            cursor: pointer;
            
            svg {
                width: 100px;
                height: 100%;
                fill: $gray-400;
                transition: 0.2s ease;
            }

            &:not(.swiper-button-disabled) {
                svg {
                    fill: $p1;
                }
            }
        }

        .swiper-pagination {
            width: 100px;
            text-align: center;
        }
    }
}

.carousel.variant-products {
    .card {
        width: calc(100vw - 3rem);
        // flex-shrink: 0;

        @include media-breakpoint-up(md) {
            width: 350px;
        }
    }

    .swiper-pagination {
        font-size: 18px;
        font-weight: 800;
    }

    .swiper-button-next {
        svg {
            transform: rotate(180deg)
        }
    }

    .carousel-controls {
        display: flex;
        justify-content: flex-end;
        padding: 50px;

        .swiper-button-next,
        .swiper-button-prev {
            height: 20px;
            cursor: pointer;
            
            svg {
                width: 100px;
                height: 100%;
                fill: $gray-400;
                transition: 0.2s ease;
            }

            &:not(.swiper-button-disabled) {
                svg {
                    fill: $p1;
                }
            }
        }

        .swiper-pagination {
            width: 100px;
            text-align: center;
        }
    }
}

.carousel.variant-timeline {
    .swiper-scrollbar {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        
        &::before {
            height: 1px;
            width: 100%;
            position: absolute;
            background-color: $gray-300;
            content: '';
            top: 50%;
            transform: translateY(-50%);
        }

        .swiper-scrollbar-drag {
            background-color: $p1;
            height: 24px;
            width: 100px;
        }
    }
}