.list {
    &.variant-icon {
        list-style-type: none;
        padding-left: 0;
    
        .list-item {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
    
            .content {
                padding-left: 1.8rem;
    
                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.variant-usp {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        
    
        .list-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: calc(100% / 2);
        }
    
        @include media-breakpoint-up (md) {
            margin: 0 -2rem;
    
            .list-item {
                width: calc(100% / 3);
                padding: 0 2rem;
            }
        }
    
        @include media-breakpoint-up (lg) {
            margin: 0 -3rem;
    
            .list-item {
                width: calc(100% / 4);
                padding: 0 3rem;
            }
        }
    }

    &.variant-social {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        
        svg {
            fill: $p1;
        }
        
        .list-item:not(:last-child) {
            margin-right: .5rem;
        }
    
        .social-media {
            height: 30px;
            width: 30px;
            display: inline-block;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &.variant-services {
        display: flex;
        flex-wrap: wrap;
        
        .list-item {
            flex-basis: 100%;
            margin-bottom: 2rem;
        }

        @include media-breakpoint-up (md) {
            margin: 0 -3rem;

            .list-item {
                flex-basis: calc(100% / 2);
                padding: 0 3rem;
                margin-bottom: 2rem;
            }
        }

        @include media-breakpoint-up (lg) {
            .list-item {
                flex-basis: calc(100% / 3);
            }
        }
    }

    &.variant-specifications {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;

        .specification-item {
            padding-right: 1rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 3rem;
            width: calc(100% / 2);

            .icon {
                margin-bottom: 2rem;
            }

            .title {
                min-height: 3rem;
                border-left: 1.5px solid $p2;
                width: 100%;
                padding: 0 1rem;
                text-transform: uppercase;
            }

            p {
                text-align: center;
            }

            &.variant-wider {
                width: 100%;
            }

            @include media-breakpoint-up(md) {
                width: calc(100% / 3);

                &.variant-wider {
                    width: calc(100% / 3 * 2);
                }
            }
        }
    }
}