.vertical-line {
    height: 100%;
    flex: 1;
    padding-top: 50px;

    &::before {
        width: 1px;
        height: 100%;
        margin-left: 150px;
        background-color: $p1;
        content: '';
        display: block;
        
        @include media-breakpoint-up(lg) {
            height: 120%;
        }
    }
}
