<blockquote class="blockquote variant-milestone">
	<p>Incorporated of MaxSteel Enterprise Private Limited by founders, Mr Henry Ng and Mdm Judy Tan.</p>
	<p>MaxSteel Enterprise begins operations as a steel stockist and trading company.</p>
</blockquote>
