<blockquote class="blockquote variant-hero">
    <p class="display-4 p1">&ldquo;It takes 20 years to build a reputation, whereas 5 minutes to lose it.&rdquo;</p>
    <footer class="p1">HENRY NG, MANAGING DIRECTOR</footer>
</blockquote>