<div class="card variant-1 {{ orientation }}">
    <div class="img-wrapper">
        <img src="{{ image }}" alt="">
    </div>
    <a href="#" class="btn btn-primary card-cta">{{ ctaText }}</a>
</div>