<a href="{{ ctaLink }}">
    <div class="card variant-1 {{ orientation }}">
        <div class="img-wrapper">
            <img src="{{ image }}" alt="">
        </div>
        <div href="/visit-maxsteel.html" class="btn btn-primary card-cta">{{ ctaText }}</div>
    </div>
</a>