<div class="card variant-4">
	<div class="card-thumbnail">
		<div class="img-aspect-ratio variant-1:1 variant-md-4:3">
			<img src="{{ imagePath }}" alt="Card thumbnail">
		</div>
        <button class="btn btn-primary desktop-cta">VIEW MORE</button>
	</div>
	<div class="card-content">
        {% if date %}
		    <small class="date">27/03/2020</small>
        {% endif %}
		<p class="card-title">{{ title }}</p>
		{% include "icon.twig" with {
            iconName: 'right-arrow',
            iconSize: 'm'
        } %}
    </div>
</div>
