<div class="card variant-2{% if classes %} {{ classes }}{% endif %}">
    <div class="img-wrapper">
        <img src="assets/img/hot-rolled-steel.png" alt="">
    </div>
    <a href="#" class="btn btn-secondary btn-arrow card-cta">
        <span class="button-text">HOT ROLLED STEEL</span>
        <svg class="icon icon-l">
            <use xlink:href="assets/icons/icons.svg#sprite-right-arrow" href="assets/icons/icons.svg#sprite-right-arrow"></use>
        </svg>
    </a>
</div>