<div class="carousel variant-products swiper-container">
    <div class="swiper-wrapper">
        {% for item in 1..5 %}
            {% include "card-variant-2.twig" with {
                classes: 'swiper-slide'
            } %}
        {% endfor %}
    </div>

    <div class="carousel-controls px-5">
        <div class="swiper-button-prev">
            <svg>
                <use xlink:href="assets/icons/icons.svg#sprite-long-arrow" href="assets/icons/icons.svg#sprite-long-arrow"></use>
            </svg>
        </div>
        <div class="swiper-pagination">3 / 5</div>
        <div class="swiper-button-next">
            <svg>
                <use xlink:href="assets/icons/icons.svg#sprite-long-arrow" href="assets/icons/icons.svg#sprite-long-arrow"></use>
            </svg>
        </div>
    </div>
</div>