<div class="main-footer bg-p1 p-3 p-md-5">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
        {% include "list-variant-social.twig" %}
        <div class="footer-links mb-3 mb-md-0">
            <a class="lk1 w" href="/visit-maxsteel.html">VISIT MAXSTEEL</a>
            <a class="lk1 w" href="/products.html">SERVICES</a>
            <a class="lk1 w" href="/products.html">PRODUCTS</a>
            <a class="lk1 w" href="/contact-us.html">CONTACT US</a>
        </div>
        <div class="flex-grow-1"></div>
        <a href="/"><img src="assets/img/logo-alt.png" alt="MaxSteel" class="img-responsive"></a>
    </div>
</div>
<div class="sub-footer bg-s1 px-3 px-md-5 py-3 text-right">
    <p class="small w mb-0">&copy; 2020 MAXSTEEL. ALL RIGHTS RESERVED.</p>
</div>