<div class="header variant-video mb-5">
    <div class="video-poster-container">
        <img src="assets/img/warehouse-1.jpg" alt="Video poster">
    </div>
    <div class="video-container">
        <video autoplay muted loop>
            <source src="assets/videos/header.mp4">
        </video>
    </div>
    <div class="content px-3 px-md-5">
        <p class="display-3">PROVIDING MATERIALS FOR A BETTER WORLD</p>
        <p class="mb-5">MAXSTEEL is the leading manufacturer of steel and other precision materials for over 100 years. Trusted by customers around the globe, MAXSTEEL continously deliver the best materials according to our customer's expectations.</p>
        <a href="#" class="btn btn-secondary">VIEW PRODUCTS</a>
    </div>
</div>