<!-- Modal -->
<div class="modal fade variant-xl-fullscreen sales-enquiry" id="salesEnquiryModal" tabindex="-1" role="dialog" aria-labelledby="salesEnquiryModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" id="enquiryFormBody">
		<div class="modal-content">
			<div class="modal-header">
                <h5 class="modal-title p2 text-uppercase" id="salesEnquiryModalTitle">Sales Enquiry Form</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<svg class="icon">
							<use href="assets/icons/icons.svg#sprite-close"></use>
						</svg>
					</span>
				</button>
			</div>
			<div class="modal-body">
                <div>
                    <div :class="{ 'form multipaged': true, 'show-next': currStep === 'personal' }" style="height: 0;">
                        <div class="form-screen" data-step="quote">
                            <validation-observer ref="firstForm">
                                <form>
                                    <div class="d-flex align-items-center mb-4">
                                        <h6 class="p1 flex-shrink-0 mr-4 mb-0">REQUEST FOR QUOTATION</h6>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="textarea-material">Material</label>
                                                    <textarea name="material"
                                                        id="textarea-material"
                                                        cols="30" 
                                                        rows="3"
                                                        v-model="formData.Material"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                    </textarea>
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="textarea-specification">Specification</label>
                                                    <textarea name="specification"
                                                        id="textarea-specification"
                                                        cols="30"
                                                        rows="3"
                                                        v-model="formData.Specification"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                    </textarea>
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="textarea-coating-colour">Coating / Colour (if any)</label>
                                                <textarea name="coating-colour"
                                                    id="textarea-coating-colour"
                                                    cols="30"
                                                    rows="3"
                                                    class="form-control"
                                                    v-model="formData.CoatingOrColour">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="textarea-size">Size</label>
                                                    <textarea name="size" 
                                                        id="textarea-size" 
                                                        cols="30" 
                                                        rows="3"
                                                        v-model="formData.Size"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                    </textarea>
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="textarea-thickness-tolerance">Thickness Tolerance</label>
                                                    <textarea name="thickness-tolerance" 
                                                        id="textarea-thickness-tolerance" 
                                                        cols="30" 
                                                        rows="3"
                                                        v-model="formData.ThicknessTolerance"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                    </textarea>
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="textarea-width-tolerance">Width Tolerance</label>
                                                    <textarea name="width-tolerance"
                                                        id="textarea-width-tolerance"
                                                        cols="30"
                                                        rows="3"
                                                        v-model="formData.WidthTolerance"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                    </textarea>
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="textarea-monthly-quantity-requirement">Monthly Quantity Requirement</label>
                                                    <textarea name="monthly-quantity-requirement"
                                                        id="textarea-monthly-quantity-requirement"
                                                        cols="30"
                                                        rows="3"
                                                        v-model="formData.MonthlyQuantityRequirement"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                    </textarea>
                                                </div>
                                                <div class="text-danger" v-if="errors.length > 0">
                                                    <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                </div>
                                            </validation-provider>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="textarea-end-product">End Product</label>
                                                    <textarea name="end-product"
                                                        id="textarea-end-product"
                                                        cols="30"
                                                        rows="3"
                                                        v-model="formData.EndProduct"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                    </textarea>
                                                </div>
                                                <div class="text-danger" v-if="errors.length > 0">
                                                    <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                </div>
                                            </validation-provider>
                                        </div>
                                    </div>
                                </form>
                            </validation-observer>
                        </div>
                        <div class="form-screen" data-step="personal">
                            <validation-observer ref="secondForm">
                                <form>
                                    <div class="d-flex align-items-center mb-4">
                                        <h6 class="p1 flex-shrink-0 mr-4 mb-0">PERSONAL DETAILS</h6>
                                        <div class="divider"></div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12 col-md-6">
                                            <p>Are you an existing MaxSteel customer?</p>
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="d-flex mb-3">
                                                    <div class="form-check mr-5">
                                                        <input :class="{ 'form-check-input': true, 'is-invalid': errors.length > 0 }"
                                                            type="radio"
                                                            v-model="formData.IsExistingCustomer"
                                                            id="chk-existing-cust-1" 
                                                            value="true">
                                                        <label class="form-check-label" for="chk-existing-cust-1">
                                                            Yes
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input :class="{ 'form-check-input': true, 'is-invalid': errors.length > 0 }"
                                                            type="radio"
                                                            v-model="formData.IsExistingCustomer"
                                                            id="chk-existing-cust-2" 
                                                            value="false">
                                                        <label class="form-check-label" for="chk-existing-cust-2">
                                                            No
                                                        </label>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="row">
                                                <div class="col-6 col-md-7 col-xl-4">
                                                    <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                        <div class="form-group">
                                                            <label for="sel-salutation">Salutation</label>
                                                            <select v-model="formData.Salutation"
                                                                id="sel-salutation"
                                                                :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                                <option value="" disabled hidden>Please select</option>
                                                                <option value="Mr.">Mr.</option>
                                                                <option value="Mrs.">Mrs.</option>
                                                            </select>
                                                            <div class="text-danger" v-if="errors.length > 0">
                                                                <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                            </div>
                                                        </div>
                                                    </validation-provider>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="input-first-name">First Name</label>
                                                    <input :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }"
                                                        type="text"
                                                        id="input-first-name"
                                                        v-model="formData.FirstName">
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="input-last-name">Last Name</label>
                                                    <input :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }"
                                                        type="text"
                                                        id="input-last-name"
                                                        v-model="formData.LastName">
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="input-company">Company</label>
                                                    <input :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }"
                                                        type="text"
                                                        id="input-company"
                                                        v-model="formData.Company">
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="input-designation">Designation</label>
                                                    <input :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }"
                                                        type="text"
                                                        id="input-designation"
                                                        v-model="formData.Designation">
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="input-email">Email</label>
                                                    <input :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }"
                                                        type="email"
                                                        id="input-email"
                                                        v-model="formData.Email">
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="input-country">Country</label>
                                                    <select name="country"
                                                        v-model="formData.Country"
                                                        id="sel-country"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                        <option value="" disabled hidden selected>Select Country</option>
                                                        <option value="Singapore">Singapore</option>
                                                        <option value="Malaysia">Malaysia</option>
                                                        <option value="China">China</option>
                                                    </select>
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="input-city-state">City / State</label>
                                                    <input :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }"
                                                        type="text"
                                                        id="input-city-state"
                                                        v-model="formData.CityAndState">
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="input-phone">Phone</label>
                                                    <input :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }"
                                                        type="tel"
                                                        id="input-phone"
                                                        v-model="formData.Phone">
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="input-fax">Fax</label>
                                                <input class="form-control" type="text" id="input-fax" v-model="formData.Fax">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="input-website">Website</label>
                                                <input class="form-control" type="text" id="input-website" v-model="formData.Website">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                                <div class="form-group">
                                                    <label for="textarea-enquiries">Your Enquiries:</label>
                                                    <textarea v-model="formData.EnquiryMessage"
                                                        id="textarea-enquiries"
                                                        cols="30"
                                                        rows="5"
                                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                                    </textarea>
                                                    <div class="text-danger" v-if="errors.length > 0">
                                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                                    </div>
                                                </div>
                                            </validation-provider>
                                        </div>

                                        <div class="col-12 d-flex align-items-center text-center flex-column">
                                            <vue-recaptcha ref="reCaptcha" sitekey="6LfA8PMUAAAAAP0KbW2Dn3F2oS4MsqumFOl31Ghb"
                                                @verify="setRecaptchaResponse"
                                                @expired="setRecaptchaResponse('')"></vue-recaptcha>
                                            <validation-provider rules="required" v-slot="{ errors }" slim>
                                                <input type="hidden" v-model="recaptchaResponse">
                                                <small v-if="errors.length > 0" class="error-message text-danger">Please verify the reCAPTCHA challenge</small>
                                            </validation-provider>
                                        </div>
                                    </div>
                                </form>
                            </validation-observer>
                            <div class="error-message mt-3 text-danger text-center" v-if="generalSubmitError != ''">
                                {% verbatim %}
                                    <small>{{ generalSubmitError }}</small>
                                {% endverbatim %}
                            </div>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-secondary" v-if="currStep === 'quote'" @click="setCurrStep('personal')">Next</button>
				<button type="button" class="btn btn-light" v-if="currStep === 'personal'" @click="setCurrStep('quote')">Back</button>
				<button type="button" class="btn btn-secondary"  v-if="currStep === 'personal'" @click="submitForm()">Submit</button>
			</div>
		</div>
	</div>
</div>
