<!-- Modal -->
<div class="modal fade variant-xl-fullscreen" id="generic-modal" tabindex="-1" role="dialog" aria-labelledby="genericFullscreenModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" id="enquiryFormBody">
		<div class="modal-content">
			<div class="modal-header">
                <h5 class="modal-title p2 text-uppercase" id="genericFullscreenModal">title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<svg class="icon">
							<use href="assets/icons/icons.svg#sprite-close"></use>
						</svg>
					</span>
				</button>
			</div>
			<div class="modal-body">
                <h1>testt</h1>
			</div>
		</div>
	</div>
</div>
