<nav class="nav nav-pills nav-justified d-none d-md-flex">
    <a class="nav-link active" href="#">ALL</a>
    <a class="nav-link" href="#">FERROUS</a>
    <a class="nav-link" href="#">NON FERROUS</a>
</nav>
<div class="form-group product-category-selector d-md-none">
    <select name="" id="" class="form-control">
        <option value="All">All</option>
        <option value="Ferrous">Ferrous</option>
        <option value="Non-Ferrous">Non-Ferrous</option>
    </select>
</div>