<nav class="left-pane">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</nav>

<nav class="top-pane px-3 px-md-5">
    <a href="/" class="brand-logo">
        <img src="assets/img/logo.png" alt="Main logo">
    </a>

    <a href="#" data-target="#salesEnquiryModal" data-toggle="modal" class="btn btn-secondary d-none d-md-block mr-md-5 mr-lg-0">SALES ENQUIRY</a>
</nav>

<div class="nav-top-pane-spacer"></div>

<nav class="drawer">
    <div class="drawer-content">
        <img src="assets/img/logo-alt.png" alt="MaxSteel Logo" class="img-fluid">

        <ul class="nav-links">
            <li><a href="/visit-maxsteel.html" class="h1 lk1">VISIT MAXSTEEL</a></li>
            <li><a href="/products.html" class="h1 lk1">SERVICES</a></li>
            <li><a href="/products.html" class="h1 lk1">PRODUCTS</a></li>
            <li><a href="/contact-us.html" class="h1 lk1">CONTACT US</a></li>
            <li class="d-md-none sales-cta"><a href="#" class="h1 lk1">Sales Enquiry</a></li>
        </ul>

        <p class="text-right w"><small>&copy; 2020 MAXSTEEL. ALL RIGHTS RESERVED.</small></p>
    </div>
</nav>