{% extends "templates/partials/blank-page.twig" %}

{% block main %}

<div class="container-fluid">
    <div class="row mt-5 pt-5">
        <div class="col-12 d-flex flex-column align-items-center text-center">
            <img src="assets/img/logo.png" alt="" class="img-fluid mb-5">
            <h1 class="p1">OUR NEW LOOK IS UNDER CONSTRUCTION</h1>
            <p class="lead p2 mb-5">Stay tuned for the latest updates.</p>

            <p class="mt-5 pt-5">For enquiries, you can still contact us at <strong><a href="mailto:sales@maxsteel.sg" class="lk1 p1">sales@maxsteel.sg</a></strong></p>
        </div>
    </div>

    <div class="social-sharing">
        <div class="social-icon-wrapper">
            <a href="https://www.linkedin.com/company/maxsteel-enterprise-pte-ltd">
                <svg class="icon icon">
                    <use xlink:href="assets/icons/icons.svg#sprite-linkedin"
                        href="assets/icons/icons.svg#sprite-linkedin"></use>
                </svg>
            </a>
        </div>
    </div>
</div>

{% endblock %}