{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="container-fluid px-3 px-md-5 pt-5 pb-4">
    <h1 class="h3 p1">CONTACT US</h1>
</div>

<div class="container-fluid section variant-6 mb-5">
    <div class="row">
        <div class="col-12 col-md-6 pl-md-0">
            <div class="img-aspect-ratio variant-16:9 variant-md-4:5">
                <img src="assets/img/warehouse-2.jpg" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 px-md-5 pt-5">
            {% embed "templates/components/title.twig" with {
                colourVariant: 'p1'
            } %}
                {% block text %}
                    <h2 class="h4 mb-4">MAXSTEEL SINGAPORE</h2>
                {% endblock %}
            {% endembed %}

            <ul class="list variant-icon">
                <li class="list-item">
                    <div class="icon">
                        <svg class="icon icon-m p1">
                            <use href="assets/icons/icons.svg#sprite-location"></use>
                        </svg>
                    </div>
                    <div class="content">
                        <p class="h6 p1 text-uppercase">MaxSteel Enterprise Private Limited European Trafo Products Private Limited</p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="icon">
                        <svg class="icon icon-m p1">
                            <use href="assets/icons/icons.svg#sprite-pindrop"></use>
                        </svg>
                    </div>
                    <div class="content">
                        <p class="p1">74 & 76 Senoko Drive Singapore 758241</p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="icon">
                        <svg class="icon icon-m p1">
                            <use href="assets/icons/icons.svg#sprite-phone"></use>
                        </svg>
                    </div>
                    <div class="content">
                        <p class="p1"><span class="h6">PHONE</span> <a class="lk1" href="tel:6567528885">+65 6752 8885</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row overlay-layer d-none d-md-flex rellax" data-rellax-speed="4">
        <div class="col-11 offset-1 col-md-7 offset-md-5 pr-md-5">
            <div class="img-aspect-ratio variant-16:6">
                <img src="assets/img/warehouse-1.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid section variant-6 pt-5 mb-6">
    <div class="row flex-row-reverse">
        <div class="col-12 col-md-6 pr-md-5">
            <div class="img-aspect-ratio variant-16:9 variant-md-4:5">
                <img src="assets/img/warehouse-3.jpg" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 px-md-5 pt-5 pl-md-0">
            {% embed "templates/components/title.twig" with {
                colourVariant: 'p1'
            } %}
                {% block text %}
                    <h2 class="h4 mb-4">MAXSTEEL CHINA</h2>
                {% endblock %}
            {% endembed %}

            <ul class="list variant-icon">
                <li class="list-item">
                    <div class="icon">
                        <svg class="icon icon-m p1">
                            <use href="assets/icons/icons.svg#sprite-location"></use>
                        </svg>
                    </div>
                    <div class="content">
                        <p class="h6 p1 text-uppercase">MaxSteel Corporation (Suzhou) Limited</p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="icon">
                        <svg class="icon icon-m p1">
                            <use href="assets/icons/icons.svg#sprite-pindrop"></use>
                        </svg>
                    </div>
                    <div class="content">
                        <p class="p1">No. 118 Xinjiang Road, Shengpu Sub-District, Suzhou Industrial Park, Jiangsu Province, Postal Code: 21528, P.R. China</p>
                    </div>
                </li>
                <li class="list-item">
                    <div class="icon">
                        <svg class="icon icon-m p1">
                            <use href="assets/icons/icons.svg#sprite-phone"></use>
                        </svg>
                    </div>
                    <div class="content">
                        <p class="p1"><span class="h6">PHONE</span> <a class="lk1" href="tel:6567528885">+65 6752 8885</a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row overlay-layer d-none d-md-flex rellax" data-rellax-speed="1">
        <div class="col-11 offset-1 col-md-7 offset-md-0 pl-md-0">
            <div class="img-aspect-ratio variant-16:6">
                <img src="assets/img/factory-floor-1.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-p1 px-3 px-md-5 py-5 mb-6">
    <div class="row">
        <div class="col-12 col-md-5">
            {% embed "templates/components/title.twig" with {
                colourVariant: 'p1'
            } %}
                {% block text %}
                    <h2 class="h3 w">GET IN TOUCH</h2>
                {% endblock %}
            {% endembed %}
            <p class="w">Questions, comments, or suggestions?<br> Simply fill in the form and we’ll be in touch shortly.</p>
        </div>
        <div class="col-12 col-md-7" id="contact-form">
            <validation-observer ref="contactForm" v-slot="{ handleSubmit }">
                <form ref="theForm" @submit.prevent="handleSubmit(onSubmit)">
                    <div class="row mb-4">
                        <div class="col-12 col-md-6">
                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                <div class="form-group">
                                    <label for="subjectDD" class="w">Subject*</label>
                                    <select name="subject"
                                        v-model="formData.Subject"
                                        id="subjectDD"
                                        :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                        <option disabled selected hidden value="">Select Subject</option>
                                        <option value="Enquiry">Enquiry</option>
                                        <option value="Feedback">Feedback</option>
                                        <option value="Others">Others</option>
                                    </select>
                                    <div class="text-danger" v-if="errors.length > 0">
                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                    </div>
                                </div>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 col-md-6">
                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                <div class="form-group">
                                    <label for="firstName" class="w">First Name*</label>
                                    <input type="text" name="firstName" id="firstName" v-model="formData.FirstName" :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                    <div class="text-danger" v-if="errors.length > 0">
                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                    </div>
                                </div>
                            </validation-provider>
                        </div>
                        <div class="col-12 col-md-6">
                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                <div class="form-group">
                                    <label for="lastName" class="w">Last Name*</label>
                                    <input type="text" name="lastName" id="lastName" v-model="formData.LastName" :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                    <div class="text-danger" v-if="errors.length > 0">
                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                    </div>
                                </div>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12 col-md-6">
                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                <div class="form-group">
                                    <label for="email" class="w">Email*</label>
                                    <input type="text" v-model="formData.Email" name="email" id="email" :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                    <div class="text-danger" v-if="errors.length > 0">
                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                    </div>
                                </div>
                            </validation-provider>
                        </div>
                        <div class="col-12 col-md-6">
                            <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                                <div class="form-group">
                                    <label for="phoneNumber" class="w">Phone Number*</label>
                                    <input type="text" v-model="formData.PhoneNumber" name="phoneNumber" id="phoneNumber" :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }">
                                    <div class="text-danger" v-if="errors.length > 0">
                                        <small class="error-message" v-if="failedRules.required">This field is required</small>
                                    </div>
                                </div>
                            </validation-provider>
                        </div>
                    </div>
                    <validation-provider slim rules="required" v-slot="{ failedRules, errors }">
                        <div class="form-group mb-5">
                            <label class="w" for="message">Message*</label>
                            <textarea name="message" v-model="formData.Message" id="message" cols="30" rows="10" :class="{ 'form-control': true, 'is-invalid': errors.length > 0 }"></textarea>
                            <div class="text-danger" v-if="errors.length > 0">
                                <small class="error-message" v-if="failedRules.required">This field is required</small>
                            </div>
                        </div>
                    </validation-provider>

                    <div class="d-flex flex-column mb-4">
                        <vue-recaptcha ref="reCaptcha" sitekey="6LfA8PMUAAAAAP0KbW2Dn3F2oS4MsqumFOl31Ghb"
                            @verify="setRecaptchaResponse"
                            @expired="setRecaptchaResponse('')"></vue-recaptcha>
                        <validation-provider rules="required" v-slot="{ errors }" slim>
                            <input type="hidden" v-model="recaptchaResponse">
                            <small v-if="errors.length > 0" class="error-message text-danger">Please verify the reCAPTCHA challenge</small>
                        </validation-provider>
                    </div>

                    <div class="error-message text-danger text-center" v-if="generalSubmitError !== ''">
                        <small></small>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </div>
                </form>
            </validation-observer>
        </div>
    </div>
</div>
{% endblock %}