{% extends "templates/partials/base.twig" %}

{% block main %}
<div class="container-fluid px-3 px-md-5 py-5">
    <div class="row mb-6">
        <div class="col-12">
            <a href="/media.html" class="btn btn-link p1 variant-back">
                {% include "templates/components/icon.twig" with {
                    iconName: 'chevron-back',
                    iconSize: 's'
                } %}
                <div class="title">MEDIA</div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <h1 class="h3 p2">EVENTS</h1>
        </div>
    </div>

    <ul class="list variant-media mb-6">
        {% set cardImages = [
            'production-line-2.jpg',
            'production-line-1.jpg',
            'welding.jpg'
        ] %}
        {% for item in 1..9 %}
            <li class="list-item">
                <a href="/event-detail-page.html" class="no-text-decoration">
                    {% include "templates/components/card-variant-4.twig" with {
                        imagePath: 'assets/img/' ~ cardImages[loop.index % 3],
                        date: '27/03/2020',
                        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam.'
                    } %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}