{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="products-page">

    <div class="container-fluid px-3 px-md-5 py-5">
        <div class="row">
            <div class="col-12">
                <a href="/what-we-do.html" class="btn btn-link p1 variant-back">
                    {% include "templates/components/icon.twig" with {
                        iconName: 'chevron-back',
                        iconSize: 's'
                    } %}
                    <div class="title">WHAT WE DO</div>
                </a>
            </div>
            <div class="col-12">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h1 class="p2 h3">PRODUCTS</h1>
                        <p>MAXSTEEL creates and maintains geographical information, maps and charts. We develop solutions to deliver data, information and products in innovative ways.</p>
                    </div>
                    <div class="col-12 col-md-5 offset-md-1">
                        {% include "templates/components/nav-variant-product-category.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0">
                {% include "templates/components/carousel-variant-products.twig" %}
            </div>
        </div>
    </div> #}
    {% set products = [
        'HOT ROLLED STEEL',
        'COLD ROLLED STEEL',
        'Electrolytic Zinc Coated Steel',
        'Hot Dipped Galvanized Steel',
        'Galvannealed Steel',
        'Galvalume Steel',
        'Prepainted Steel',
        'Stainless Steel',
        'Silicon Steel',
        'Tinplate',
        'Aluminium',
        'copper'
    ] %}

    {% set productImgs = [
        'hot-rolled-steel.png',
        'steel-rolls-2.jpg',
        'steel-rolls-3.jpg'
    ] %}

    <div class="container-fluid px-3 px-md-5 pt-md-5 pb-5">
        <div class="list variant-services">
            {% for product in products %}
                <div class="list-item">
                    <a href="/product-detail-page.html" class="no-text-decoration">
                        <div class="card variant-3">
                            <div class="card-thumbnail">
                                <img src="assets/img/{{ random(productImgs) }}" alt="product image">
                            </div>
                            <div class="card-cta">
                                <div class="cta-title">{{ product }}</div>
                                {% include "templates/components/icon.twig" with {
                                    iconName: 'right-arrow',
                                    iconSize: 'm p2'
                                } %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    

</div>
{% endblock %}
