{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="container-fluid px-3 px-md-5 py-5">
    <div class="row">
        <div class="col-12">
            <a href="/what-we-do.html" class="btn btn-link p1 variant-back">
                {% include "templates/components/icon.twig" with {
                    iconName: 'chevron-back',
                    iconSize: 's'
                } %}
                <div class="title">What We Do</div>
            </a>
        </div>
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-12">
                    <h1 class="p2 h3 text-uppercase">The MaxSteel Quality</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-3 px-md-5 py-5 timeline">
    <div class="row mb-5 no-gutters">
        <div class="col col-12 col-md-6">
            <div class="timeline-content">
                {% embed "templates/components/title.twig" with {
                    colourVariant: 'p1'
                } %}
                    {% block text %}
                        <h2 class="h4 mb-4 animated text-slide-in">QUALITY MANAGEMENT</h2>
                    {% endblock %}
                {% endembed %}
                <p>The management of MaxSteel understands very well the importance of the quality and service levels that are required by users today and acknowledges the need for continuous development. To achieve the required level, our ISO quality management system coordinates our operational activities; all employees are trained to recognize the importance of their roles and responsibilities towards our quality target.</p>
            </div>
        </div>
    </div>
    <div class="row mb-5 no-gutters">
        <div class="col col-12 col-md-6">
            <div class="timeline-content">
                {% embed "templates/components/title.twig" with {
                    colourVariant: 'p1'
                } %}
                    {% block text %}
                        <h2 class="h4 mb-4 animated text-slide-in">QUALITY MANAGEMENT</h2>
                    {% endblock %}
                {% endembed %}
                <p>The management of MaxSteel understands very well the importance of the quality and service levels that are required by users today and acknowledges the need for continuous development. To achieve the required level, our ISO quality management system coordinates our operational activities; all employees are trained to recognize the importance of their roles and responsibilities towards our quality target.</p>
            </div>
        </div>
    </div>
    <div class="row mb-5 no-gutters">
        <div class="col col-12 col-md-6">
            <div class="timeline-content">
                {% embed "templates/components/title.twig" with {
                    colourVariant: 'p1'
                } %}
                    {% block text %}
                        <h2 class="h4 mb-4 animated text-slide-in">QUALITY MANAGEMENT</h2>
                    {% endblock %}
                {% endembed %}
                <p>The management of MaxSteel understands very well the importance of the quality and service levels that are required by users today and acknowledges the need for continuous development. To achieve the required level, our ISO quality management system coordinates our operational activities; all employees are trained to recognize the importance of their roles and responsibilities towards our quality target.</p>
            </div>
        </div>
    </div>
    <div class="timeline-axis"></div>
</div>

{% include "templates/components/modal-variant-fullscreen.twig" %}
{% endblock %}